<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item){ %>
      <form action ="/delete" method="POST"> 
      <div class="item">
        <!-- Add value with EJS so that we can see it in node-->
        <input type="checkbox" onchange="this.form.submit()" name="checkBox" value="<%= item.id %>">
        <p><%=  item.name  %></p>
      </div>
      <!-- Adding hidden input to get the list name so we can use it in the /delete route-->
      <input type="hidden" name="listName" value="<%= listTitle%>"> </input>
    </form>
      <% }) %>  

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value= "<%= listTitle%>"> + </button>
      </form>
  </div>

<%- include("footer") -%>
